// Colors

$blue-dark:				#0068ff;
$blue-light:			#63fffa;

$color-page-footer:		$blue-dark;
$color-page-header:		$blue-light;

$color-page-text:		$blue-dark;

$color-checkbox-background:	white;
$color-checkbox-text:		$blue-dark;

$color-error:			red;