// Fonts

$futura:			'futura-pt', sans-serif;


// Font weights

$book:					400;
$heavy:					700;

// Default

$base-font-size: 		16;
$text: $futura;

$grid-base-width:		1900;

$page-padding:			130;


$panel-width:			400;
$panel-large-width:		820;



// RWD

$ipad_portrait:			768;
$ipad_landscape:		1024;
$smartphone_landscape:	767;