html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

.clear {
  clear: both; }
  .clear:after {
    clear: both;
    display: block;
    content: ''; }

span.ui-checkbox {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  background-color: white;
  border: 2px solid #0068ff;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle; }
  span.ui-checkbox:after {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    display: none;
    content: "\e905";
    font-size: 11px; }

span.ui-helper-hidden {
  display: none; }

span.ui-checkbox-state-checked:after,
span.ui-checkbox-state-checked-hover:after {
  display: block; }

.ui-helper-hidden-accessible {
  position: absolute;
  left: -999em; }

*, *:before, *:after {
  box-sizing: border-box;
  outline: none; }

button, input, textarea {
  background-color: transparent;
  border: none;
  border-color: inherit;
  border-radius: 0;
  color: inherit; }

button {
  cursor: pointer; }

input, textarea {
  -webkit-appearance: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  letter-spacing: 1px;
  cursor: text;
  color: inherit; }

textarea {
  resize: none;
  overflow: auto; }

:invalid {
  box-shadow: none; }

:-moz-submit-invalid {
  box-shadow: none; }

:-moz-ui-invalid {
  box-shadow: none; }

h1 {
  font-weight: 700;
  line-height: .9; }

body, html {
  width: 100%;
  height: 100%; }

body {
  background-color: white; }

::-webkit-selection {
  color: white;
  background: #0068ff; }

::-moz-selection {
  color: white;
  background: #0068ff; }

::-o-selection {
  color: white;
  background: #0068ff; }

::selection {
  color: white;
  background: #0068ff; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-family: "futura-pt", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0068ff; }

a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

strong {
  font-weight: 700; }

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.o-bulb {
  position: absolute;
  right: 0;
  font-size: 3.75em; }

.o-button {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  height: 68px;
  background-color: #0068ff;
  text-align: center;
  overflow: hidden;
  cursor: pointer; }
  .o-button .o-button__title {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 2;
    letter-spacing: 2px;
    line-height: 68px;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    color: white; }
  .o-button.button--large {
    height: 88px;
    line-height: 88px; }
    .o-button.button--large span {
      font-size: 20px;
      text-transform: uppercase; }
  .o-button:after {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 0;
    background-color: #63fffa;
    content: ' '; }
  .no-mobile .o-button:hover:after {
    height: 100%;
    bottom: 0; }
  .no-mobile .o-button:hover span {
    color: #0068ff; }
  .o-button:active {
    background-color: #00fcf4; }

.icon-skygate:before {
  content: "\e90c"; }

.icon-envelope:before {
  content: "\e90d"; }

.icon-bulb:before {
  content: "\e90e"; }

.icon-clock:before {
  content: "\e900"; }

.icon-mug:before {
  content: "\e901"; }

.icon-plus:before {
  content: "\e902"; }

.icon-rating:before {
  content: "\e903"; }

.icon-sofa:before {
  content: "\e904"; }

.icon-x:before {
  content: "\e905"; }

.icon-design:before {
  content: "\e906"; }

.icon-angle-up:before {
  content: "\e907"; }

.icon-instagram:before {
  content: "\e908"; }

.icon-twitter:before {
  content: "\e909"; }

.icon-facebook:before {
  content: "\e90a"; }

.icon-angle-down:before {
  content: "\e90b"; }

.o-panel {
  padding-bottom: 80px; }
  @media screen and (min-width: 1024px) {
    .o-panel {
      width: 400px; } }
  @media screen and (max-width: 768px) {
    .o-panel {
      float: none !important;
      padding-bottom: 40px; } }
  @media screen and (min-width: 1024px) {
    .o-panel.panel--large {
      width: 50%; } }
  .o-panel .o-panel__title {
    margin-bottom: 80px;
    padding-bottom: 8px;
    border-bottom: 3px solid #0068ff;
    font-size: 3.125em; }
    @media screen and (min-width: 1024px) {
      .o-panel .o-panel__title {
        font-size: 2.65vw; } }
    @media screen and (max-width: 1023px) {
      .o-panel .o-panel__title {
        margin-bottom: 60px; } }
    @media screen and (max-width: 768px) {
      .o-panel .o-panel__title {
        font-size: 6.5vw; } }
    @media screen and (max-width: 640px) {
      .o-panel .o-panel__title {
        margin-bottom: 40px; } }
  .o-panel p {
    margin-bottom: 2em; }

.o-row {
  position: relative; }

.o-wrap {
  clear: both;
  position: relative;
  max-width: 1900px;
  margin: 0 auto; }
  .o-wrap:after {
    clear: both;
    display: block;
    content: ''; }

.o-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
  width: 57px;
  height: 57px;
  border-width: 4px;
  border-style: solid;
  text-align: center;
  font-size: 3em; }
  @media screen and (max-width: 480px) {
    .o-circle {
      display: none; } }

.contact {
  position: relative; }
  .contact .o-panel__content {
    position: relative;
    padding-left: 140px; }
    @media screen and (min-width: 1024px) {
      .contact .o-panel__content {
        padding-left: 35%; } }
    .contact .o-panel__content .icon-envelope {
      position: absolute;
      top: 50%;
      margin-top: auto;
      margin-bottom: auto;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 20px;
      font-size: 2.25em; }
    .contact .o-panel__content a {
      text-decoration: underline; }
      .contact .o-panel__content a:hover {
        margin-left: -10px;
        padding: 5px 10px;
        background-color: #0068ff;
        text-decoration: none;
        color: white; }

.conditions {
  margin-bottom: 80px; }

body > footer {
  background-color: #0068ff;
  padding: 55px 6.84211%;
  color: white; }
  @media screen and (max-width: 640px) {
    body > footer {
      padding-bottom: 20px; } }
  body > footer .o-bulb {
    top: -15px; }
  body > footer .o-circle {
    border-color: white;
    line-height: 40px; }
    body > footer .o-circle:hover {
      background-color: #63fffa;
      color: #0068ff; }
  body > footer .logo {
    position: relative;
    z-index: 10;
    color: white; }
  body > footer .nav-primary {
    top: 0; }
    @media screen and (max-width: 768px) {
      body > footer .nav-primary {
        margin-left: -10px; } }
    body > footer .nav-primary a:hover {
      background-color: #63fffa;
      color: #0068ff; }
  body > footer .o-row {
    margin-bottom: 130px; }
    @media screen and (max-width: 640px) {
      body > footer .o-row {
        margin-bottom: 70px; } }
    body > footer .o-row:last-of-type {
      margin-bottom: 50px; }

.logo {
  display: inline-block;
  font-size: 2.125em; }
  @media screen and (max-width: 768px) {
    .logo {
      margin-bottom: 20px; } }

.main {
  padding: 100px 6.84211%; }
  @media screen and (max-width: 640px) {
    .main {
      padding-top: 50px;
      padding-bottom: 50px; } }

@media screen and (min-width: 769px) {
  .nav-primary {
    position: absolute;
    width: 100%;
    text-align: center; } }

.nav-primary li {
  display: inline-block; }

.nav-primary a {
  padding: 5px 10px;
  letter-spacing: 1px;
  font-weight: 700; }

.nav-social {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .nav-social {
      top: 10px; } }
  .nav-social li {
    float: right;
    margin-left: 50px; }
    @media screen and (max-width: 768px) {
      .nav-social li {
        margin-left: 9.84252%; } }
    .nav-social li a {
      display: inline-block;
      font-size: 2.25em; }
      @media screen and (max-width: 768px) {
        .nav-social li a {
          font-size: 4.7vw; } }
      @media screen and (max-width: 320px) {
        .nav-social li a {
          font-size: 1.25em; } }
      .nav-social li a:hover {
        color: #63fffa; }

.schedule__icons {
  clear: both;
  margin-bottom: 80px; }
  .schedule__icons:after {
    clear: both;
    display: block;
    content: ''; }
  @media screen and (max-width: 640px) {
    .schedule__icons {
      width: 100%;
      margin-bottom: 40px;
      text-align: center; } }
  .schedule__icons li {
    float: left;
    width: 20%;
    text-align: center; }
    @media screen and (max-width: 640px) {
      .schedule__icons li {
        float: none;
        display: inline-block;
        width: 30%;
        margin-bottom: 10px; } }
    .schedule__icons li [class^="icon-"] {
      display: block;
      margin-bottom: 20px;
      font-size: 3.125em; }
      @media screen and (min-width: 1024px) and (max-width: 1280px) {
        .schedule__icons li [class^="icon-"] {
          height: 30px; } }
      @media screen and (min-width: 1024px) {
        .schedule__icons li [class^="icon-"] {
          font-size: 2.65vw; } }
      @media screen and (max-width: 768px) {
        .schedule__icons li [class^="icon-"] {
          font-size: 6.5vw; } }
      @media screen and (max-width: 480px) {
        .schedule__icons li [class^="icon-"] {
          margin-bottom: 10px; } }
    .schedule__icons li .caption {
      display: block;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .schedule__icons li .caption {
          font-size: 0.875em; } }
    .schedule__icons li .icon-sofa {
      padding-top: 10px;
      font-size: 2.5em; }
      @media screen and (min-width: 1024px) {
        .schedule__icons li .icon-sofa {
          font-size: 2.1vw; } }
      @media screen and (max-width: 768px) {
        .schedule__icons li .icon-sofa {
          font-size: 5.2vw; } }

.schedule__timeline {
  clear: both; }
  .schedule__timeline:after {
    clear: both;
    display: block;
    content: ''; }
  @media screen and (min-width: 1281px), screen and (min-width: 768px) and (max-width: 1023px) {
    .schedule__timeline .timeline__column {
      float: left;
      width: 53%; }
      .schedule__timeline .timeline__column:last-child {
        width: 47%;
        padding-left: 1%; } }
  .schedule__timeline .timeline__item {
    display: table;
    margin-bottom: 25px; }
    @media screen and (max-width: 1024px) {
      .schedule__timeline .timeline__item {
        margin-bottom: 20px; } }
    @media screen and (max-width: 640px) {
      .schedule__timeline .timeline__item {
        margin-bottom: 10px; } }
    .schedule__timeline .timeline__item .time {
      display: table-cell;
      white-space: nowrap;
      font-weight: 700; }
      @media screen and (max-width: 420px) {
        .schedule__timeline .timeline__item .time {
          display: block;
          width: 100%; } }
      .schedule__timeline .timeline__item .time [class^="time__"]:after {
        padding: 0 10px;
        content: '-'; }
      .schedule__timeline .timeline__item .time .time__end:after {
        padding: 0 15px; }
        @media screen and (max-width: 429px) {
          .schedule__timeline .timeline__item .time .time__end:after {
            display: none; } }
    .schedule__timeline .timeline__item .description {
      display: table-cell; }
      @media screen and (max-width: 420px) {
        .schedule__timeline .timeline__item .description {
          display: block;
          width: 100%; } }

.sign-up h4 {
  margin-bottom: 1em;
  letter-spacing: 2px;
  font-size: 2.1875em;
  font-weight: 700; }
  @media screen and (min-width: 1024px) {
    .sign-up h4 {
      font-size: 1.8vw; } }
  @media screen and (max-width: 768px) {
    .sign-up h4 {
      font-size: 4.5vw; } }

.sign-up .interest .ui-checkbox {
  margin-right: 1.82927%; }

.sign-up .interest .interest__title {
  letter-spacing: 2px;
  font-size: 1.125em; }
  @media screen and (max-width: 1900px) {
    .sign-up .interest .interest__title {
      display: block;
      margin-bottom: 1em; } }
  @media screen and (max-width: 1024px) {
    .sign-up .interest .interest__title {
      font-size: 1em; } }

.sign-up .interest .interest__checkboxes-item {
  padding: 0 0 0 60px; }
  @media screen and (max-width: 1900px) {
    .sign-up .interest .interest__checkboxes-item:first-of-type {
      padding: 0; } }
  @media screen and (max-width: 420px) {
    .sign-up .interest .interest__checkboxes-item {
      padding: 0; }
      .sign-up .interest .interest__checkboxes-item:first-of-type {
        padding: 0 20px 0 0; } }

.sign-up .interest .interest__checkboxes-label {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer; }

.sign-up .label {
  clear: both;
  display: block;
  width: 100%;
  border: 2px solid #0068ff;
  border-bottom: none;
  font-weight: 700; }
  .sign-up .label:after {
    clear: both;
    display: block;
    content: ''; }
  .sign-up .label:last-of-type {
    border: 2px solid #0068ff; }
  .sign-up .label .label__item {
    padding: 2.43902%;
    letter-spacing: 2px;
    font-size: 1em; }
    @media screen and (min-width: 480px) {
      .sign-up .label .label__item {
        float: left;
        width: 50%;
        border-right: 2px solid #0068ff; } }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
      .sign-up .label .label__item {
        font-size: 0.875em; } }
    @media screen and (max-width: 640px) {
      .sign-up .label .label__item {
        font-size: 0.75em; } }
  .sign-up .label.error .label__item {
    color: red; }
  .sign-up .label input.label__item {
    border-right: none;
    line-height: inherit; }
  .sign-up .label .label__field {
    width: 100%; }
  .sign-up .label input[type=text], .sign-up .label input[type=email] {
    color: #0068ff;
    margin-top: 0; }
  .sign-up .label ::-webkit-input-placeholder {
    color: #0068ff; }
  .sign-up .label :-moz-placeholder {
    color: #0068ff; }
  .sign-up .label :-ms-input-placeholder {
    color: #0068ff; }

.sign-up .o-button {
  display: block;
  width: 100%; }

.sign-up .o-panel__title {
  margin-bottom: 50px; }

.sign-up .privacy {
  clear: both; }
  .sign-up .privacy:after {
    clear: both;
    display: block;
    content: ''; }
  .sign-up .privacy .privacy__title {
    letter-spacing: 2px; }
    @media screen and (max-width: 640px) {
      .sign-up .privacy .privacy__title {
        font-size: 0.75em; } }
    @media screen and (min-width: 1900px) {
      .sign-up .privacy .privacy__title {
        float: left;
        width: 92.68293%; } }
  .sign-up .privacy .ui-checkbox {
    float: left;
    top: 6px;
    vertical-align: top;
    margin-right: 3.17073%; }

.sign-up .o-row {
  margin-bottom: 35px; }

.sign-up .upload .o-button .o-button__title:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  vertical-align: sub;
  content: "\e902"; }

.sign-up .upload .o-button input[type='file'] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  display: block;
  cursor: inherit;
  font-size: 999px;
  min-height: 100%;
  min-width: 100%;
  text-align: right; }

.sign-up .upload.file-added .o-button__title:before {
  display: none; }

.top {
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #63fffa;
  padding: 80px 6.84211% 0 6.84211%; }
  @media screen and (min-width: 1900px) {
    .top {
      -webkit-background-size: 1900px auto;
      -moz-background-size: 1900px auto;
      -o-background-size: 1900px auto;
      background-size: 1900px auto; } }
  @media screen and (max-width: 640px) {
    .top {
      padding-top: 60px; } }
  .top .o-bulb {
    top: 0; }
  .top .o-circle {
    bottom: -6.5vw;
    line-height: 48px;
    border-color: #0068ff; }
    .top .o-circle:hover {
      background-color: #0068ff;
      color: white; }
  .top .logo {
    position: relative;
    z-index: 10; }
  .top .nav-primary {
    top: 10px; }
    .top .nav-primary a:hover {
      background-color: #0068ff;
      color: white; }
  .top .o-row {
    margin-bottom: 14vw; }
  .top .top__addon {
    position: absolute;
    bottom: 15px;
    right: 0;
    text-align: right;
    line-height: 1.2; }
    .top .top__addon p {
      font-size: 2.6vw; }
      @media screen and (max-width: 640px) {
        .top .top__addon p {
          font-size: 1.25em; } }
      @media screen and (max-width: 320px) {
        .top .top__addon p {
          font-size: 1em; } }
    @media screen and (max-width: 1280px) {
      .top .top__addon {
        bottom: 0; } }
    @media screen and (max-width: 640px) {
      .top .top__addon {
        bottom: 5px; } }
  .top .top__title {
    position: relative;
    margin-bottom: 14vw; }
    .top .top__title h1 {
      font-size: 10vw;
      font-weight: 700;
      margin-bottom: 40px; }
    .top .top__title h4 {
      font-size: 3.5vw;
      font-weight: 400; }
      @media screen and (max-width: 640px) {
        .top .top__title h4 {
          font-size: 1.25em; } }
      @media screen and (max-width: 320px) {
        .top .top__title h4 {
          font-size: 1em; } }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.safari * {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; }

.push-left {
  float: left; }

.push-right {
  float: right; }

.text-justify {
  text-align: justify; }
