.icon-skygate:before {
    content: "\e90c";
}
.icon-envelope:before {
    content: "\e90d";
}
.icon-bulb:before {
    content: "\e90e";
}
.icon-clock:before {
    content: "\e900";
}
.icon-mug:before {
    content: "\e901";
}
.icon-plus:before {
    content: "\e902";
}
.icon-rating:before {
    content: "\e903";
}
.icon-sofa:before {
    content: "\e904";
}
.icon-x:before {
    content: "\e905";
}
.icon-design:before {
    content: "\e906";
}
.icon-angle-up:before {
    content: "\e907";
}
.icon-instagram:before {
    content: "\e908";
}
.icon-twitter:before {
    content: "\e909";
}
.icon-facebook:before {
    content: "\e90a";
}
.icon-angle-down:before {
    content: "\e90b";
}

