.o-panel {
	padding-bottom: 80px;
	
	@media screen and ( min-width: 1024px ) {
		width: $panel-width+px;
	}
	
	@media screen and ( max-width: 768px ) {
		float: none !important;
		padding-bottom: 40px;
	}
	
	&__title {
		margin-bottom: 80px;
		padding-bottom: 8px;
		border-bottom: 3px solid $color-page-text;
		font-size: em(50);
		
		@media screen and ( min-width: 1024px ) {
			font-size: 2.65vw;
		}
		
		@media screen and ( max-width: 1023px ) {
			margin-bottom: 60px;
		}
		
		@media screen and ( max-width: 768px ) {
			font-size: 6.5vw;
		}
		
		@media screen and ( max-width: 640px ) {
			margin-bottom: 40px;
		}
	}
	
	p {
		margin-bottom: 2em;
	}
	
	&--large {
		@media screen and ( min-width: 1024px ) {
			width: grid($panel-large-width, $grid-base-width - 2 * $page-padding);
		}
	}
}

