[class^="icon-"], [class*=" icon-"] {
	@include icomoon;
}

.safari {
	* {
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}
}

.u-push-left {
	float: left;
}

.u-push-right {
	float: right;
}

.u-text-justify {
	text-align: justify;
}