.c-sign-up {
	h4 {
		margin-bottom: 1em;
		letter-spacing: 2px;
		font: {
			size: em(35);
			weight: $heavy;
		}
		
		@media screen and ( min-width: 1024px ) {
			font: {
				size: 1.8vw;
			}
		}
		
		@media screen and ( max-width: 768px ) {
			font-size: 4.5vw;
		}
	}
	
	.o-button {
		display: block;
		width: 100%;
	}
	
	.o-panel__title {
		margin-bottom: 50px;
	}
	
	.o-row {
		margin-bottom: 35px;
	}
}
