.top {	
	@include background-size(100% auto);
	background: {
		image: url(../img/bg-header.png);
		repeat: no-repeat;
		position: right top;
		color: $color-page-header;
	}
	padding: 80px grid($page-padding) 0 grid($page-padding);
	
	@media screen and ( min-width: $grid-base-width+px ) {
		@include background-size($grid-base-width+px auto);
	}
	
	@media screen and ( max-width: 640px ) {
		padding-top: 60px;
	}
	
	.o-bulb {
		top: 0;
	}

	.o-circle {
		bottom: -6.5vw; //-120px;
		line-height: 48px;
		border-color: $color-page-text;

		&:hover {
			background-color: $color-page-text;
			color: white;
		}
	}
	
	.c-nav-primary {
		top: 10px;
		
		a {
			&:hover {
				background-color: $color-page-text;
				color: white;
			}
		}
	}

	.o-row {
		margin-bottom: 14vw; //200px;
	}
}

